@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  height: 5600;
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='2000' height='5600' preserveAspectRatio='none' viewBox='0 0 2000 5600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1118%26quot%3b)' fill='none'%3e%3cpath d='M1339.812%2c1881.045C1451.042%2c1891.011%2c1566.774%2c1847.352%2c1624.369%2c1751.674C1683.515%2c1653.419%2c1676.578%2c1524.867%2c1610.745%2c1430.962C1552.499%2c1347.879%2c1441.168%2c1341.05%2c1339.812%2c1345.778C1248.908%2c1350.019%2c1154.767%2c1375.468%2c1109.389%2c1454.35C1064.11%2c1533.061%2c1088.561%2c1627.635%2c1131.708%2c1707.534C1177.704%2c1792.709%2c1243.397%2c1872.407%2c1339.812%2c1881.045' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M2121.513896441546 2943.8670790732053L2280.467706123544 2617.96347244854 1712.1353913455469 2542.484561237876z' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1049.0477682532276 4058.2310719801617L789.9177117657358 3889.9500456714845 621.6366854570588 4149.080102158977 880.7667419445506 4317.3611284676535z' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M518.9517632643668 3020.5422507712274L401.15069102662596 3285.1277910225404 856.9295375224661 3329.536629253495z' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M619.163%2c1115.316C679.067%2c1115.395%2c733.878%2c1083.958%2c765.174%2c1032.879C798.02%2c979.27%2c805.861%2c913.293%2c777.238%2c857.316C745.916%2c796.061%2c687.949%2c748.663%2c619.163%2c747.335C548.34%2c745.968%2c482.317%2c787.889%2c450.15%2c851C420.455%2c909.26%2c438.593%2c977.403%2c473.82%2c1032.494C506.016%2c1082.845%2c559.398%2c1115.237%2c619.163%2c1115.316' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1311.3156416257495 4355.404663383604L1554.006352337317 4085.869322834546 1028.3579861579465 3856.600927041724z' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1209.9418399196854 5583.570111112989L1289.76101268295 5285.6809029423675 991.8718045123285 5205.861730179104 912.052631749064 5503.7509383497245z' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1975.7526019846712 4119.186579299377L2194.545257986819 3867.494420102532 1707.6106911904776 3665.151515697733z' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1445.997%2c1197.69C1598.83%2c1188.071%2c1716.295%2c1073.193%2c1786.194%2c936.942C1849.608%2c813.331%2c1848.528%2c668.548%2c1779.228%2c548.138C1709.756%2c427.43%2c1585.213%2c349.777%2c1445.997%2c345.845C1299.458%2c341.706%2c1159.451%2c406.136%2c1078.487%2c528.347C987.709%2c665.371%2c943.45%2c840.926%2c1022.557%2c985.003C1104.035%2c1133.398%2c1277.039%2c1208.324%2c1445.997%2c1197.69' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M530.554%2c4619.244C728.117%2c4627.048%2c906.239%2c4495.799%2c995.78%2c4319.52C1077.91%2c4157.831%2c1032.921%2c3970.243%2c939.025%2c3815.091C849.03%2c3666.385%2c704.004%2c3562.087%2c530.554%2c3550.786C333.896%2c3537.973%2c113.454%2c3582.587%2c18.163%2c3755.093C-75.237%2c3924.174%2c26.394%2c4118.968%2c124.912%2c4285.119C220.672%2c4446.618%2c342.945%2c4611.833%2c530.554%2c4619.244' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1183.8781547057997 182.9396061019473L1363.2511651177633 705.4939135722434 1686.412612632439 346.58676565212676z' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M816.163181822787 2384.4309926795577L836.8214406814974 2976.006125741626 1428.3965737435658 2955.3478668829157 1407.7383148848553 2363.7727338208474z' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1639.6%2c2694.723C1827.042%2c2681.352%2c1937.425%2c2507.287%2c2032.835%2c2345.391C2130.459%2c2179.738%2c2247.493%2c1989.378%2c2154.446%2c1821.111C2059.756%2c1649.872%2c1834.977%2c1623.442%2c1639.6%2c1634.26C1465.769%2c1643.885%2c1309.777%2c1727.186%2c1214.861%2c1873.134C1109.271%2c2035.496%2c1046.553%2c2237.356%2c1135.496%2c2409.402C1230.533%2c2593.235%2c1433.179%2c2709.448%2c1639.6%2c2694.723' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M420.8162264951315 3705.1754810758457L765.3727471366498 3372.4411168057495 432.6383828665534 3027.884596164231 88.08186222503514 3360.6189604343276z' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1287.1197229520415 4788.833844446994L1862.1423413295306 4718.786150442227 1564.5019541467657 4309.11930272183z' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M581.7197692521738 369.3831503271664L745.678093322346 116.90947156575118 493.20441456093073-47.04885250442095 329.2460904907586 205.42482625699427z' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M757.348%2c5138.764C806.23%2c5137.824%2c852.087%2c5117.529%2c879.483%2c5077.034C910.957%2c5030.511%2c934.105%2c4969.281%2c904.157%2c4921.76C875.246%2c4875.884%2c811.449%2c4879.548%2c757.348%2c4883.232C711.424%2c4886.359%2c666.795%2c4901.177%2c641.516%2c4939.644C613.456%2c4982.342%2c601.104%2c5037.731%2c626.795%2c5081.895C652.377%2c5125.871%2c706.482%2c5139.743%2c757.348%2c5138.764' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1558.5450160168757 3922.3141333356325L1731.8961970408593 3513.9243434019386 1150.1552260831818 3748.9629523116487z' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1670.2540318357471 3330.8803218793278L1462.5775379430054 3616.7224933801394 1748.4197094438173 3824.398987272881 1956.096203336559 3538.5568157720695z' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1884.485%2c4906.287C2024.329%2c4906.668%2c2159.219%2c4838.756%2c2226.703%2c4716.271C2292.129%2c4597.521%2c2266.862%2c4454.471%2c2197.647%2c4337.888C2130.069%2c4224.062%2c2016.556%2c4148.822%2c1884.485%2c4139.855C1733.355%2c4129.594%2c1564.827%2c4159.233%2c1487.851%2c4289.695C1410.036%2c4421.579%2c1462.635%2c4585.633%2c1545.478%2c4714.418C1620.768%2c4831.461%2c1745.318%2c4905.908%2c1884.485%2c4906.287' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1118'%3e%3crect width='2000' height='5600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}
.pmarker {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.agdasima-regular {
  font-family: "Agdasima", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.agdasima-bold {
  font-family: "Agdasima", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.heroText{
    font-size: 50px;
     background: -webkit-linear-gradient(left, oklch(var(--p)) , red);
     background: -o-linear-gradient(right, oklch(var(--p)), red);
     background: -moz-linear-gradient(right, oklch(var(--p)), red);
     background: linear-gradient(to right,oklch(var(--p)) , red); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.heroScreen{
  height: 97vh;
}
.projectScreen{
  width: 80%;
}

.projectCard{
  max-width: 60rem;
  margin-bottom: 10rem;
}

.btn{
  transition: all 0.5s;
}
.btn:hover{
  scale:1.05;
}

.formCard{
  max-width: 60rem;
}
/* mobile/tablet ----------------------------------------------------------------------------*/
@media only screen and (max-width: 768px) {

}


/* large ------------------------------------------------------------ */
@media (min-width: 1020px){

}

/* extra large --------------------------------------------- */
@media (min-width: 1300px) {

}
/* extra extra large */
@media only screen and (min-width: 1800px) {
 
}