@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  width: 100%;
}

body{
  width: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;

}

.navbar{
  height: 10vh;
}

.quantico{
  font-family: "Quantico", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.new-amsterdam-regular {
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto{
  font-family: "Roboto";
}

.hero{
  height: 90vh;
  background-image: url("assets/backgrounds/bg1.jpg");
}

.avatar{
  width: 40%;
  max-width: 20rem;
}

.card{
    min-width: 20rem;
}

.externalIcon{
  width: 0.8rem;
}

.contactForm{
  max-width: 40rem;
}

.textarea{
  font-size: 1rem;
}

.sectionHeading{
  color: white;
  font-family: "Quantico", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Subtle shadow to give depth */
  font-weight: bold; /* Makes the text clearer */
}

.projectContainer{
  min-height: 100vh;
  background-image: url("assets/backgrounds/bg2.jpg");
  background-size: cover;
}

.aboutContainer{
  background-image: url("assets/backgrounds/bg3.jpg");
  background-size: cover;
}

.formContainer{
  background-image: url("assets/backgrounds/bg4.jpg");
  background-size: cover;
}

.divider{
  margin: 0px;
  padding: 0.5rem;
  color: red;
  background-color: black;
}

.formBackdrop{
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */